[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "==4.13.0"
flask = "==2.3.3"
hijiki = "*"

[dev-packages]

[requires]
python_version = ">=3.9"
