[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "==4.13.0"
celery = "==5.0.5"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
